.container {
    display:block;
}

div div:nth-child(odd) {
    display: inline-block;
    background-color: yellow;
    width: 100px;
    height: 100px;
    border:1px solid black;

}


div div:nth-child(even) {
    position: relative;
    top: 60px;
    display: inline-block;
    background-color: green;
    width: 100px;
    height: 100px;
    border:1px solid black;
    margin:10px;

}

