
.container
{
    font-weight: bold;
    font-size: 20px;
    
}


h3 {
    display: inline-block;
    font-weight: bold;
}

.roz{
    width: 70px;
    height: 30px;
    text-align: center;
    padding: 10px;
    background-color: red;
    color: white;
    display: inline-block;
    border: 2px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;

}

.roz:nth-child(even){
    display: none;

}




