td,tr {
    border-radius: 5px;
    padding: 4px;
    border: 1px solid #000;
}

th {
    border: none;
}

table {
    border: none;
    border-collapse: separate;
    border-spacing: 5px;
}

caption {
    text-align: left;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}


td {

    box-shadow: 3px 3px 1px rgba(0,0,0,0.4);
}





















.buttonS {
    background-color: #e8518b;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    margin:40px;
    outline: none;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
  }
  
  .buttonS:hover,
  .buttonS:focus {
    background-color: #F082AC;
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }