.container {
    background-color:#FCFFE7;
    border-right: black 4px solid;
    width: 60%;
    height:500px;
    overflow: hidden;
    
  
}


.inside {
    border-top: black solid 2px;
    border-bottom: black solid 2px;
    font-weight: bold;
    background-color:#FCFFE7;
    overflow-y: scroll;
    width: 100%;
    height: 60px;
}

.flow {
    display: inline-block;
    background-color: #f3e7e7a3;
    width: 240px;
    background: rgb(211, 211, 211);
    margin: 10px;
    height: 100px;
    overflow: hidden;
}











.buttonS {
    background-color: #e8518b;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    margin:40px;
    margin-left: 250px;
    outline: none;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
  }
  
  .buttonS:hover,
  .buttonS:focus {
    background-color: #F082AC;
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }